@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Cinzel', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
