section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  background: rgb(37, 39, 37);
  transition: background 0.75s ease-out;
}

button:hover {
  background: rgb(166, 231, 166);
}

nav {
  min-height: 10vh;
  background: rgb(37, 39, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.75s ease-out;
}

.nav-slide {
  transform: translate(-100%);
}

p {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s;
}

.fade {
  opacity: 0;
}
