@font-face {
    font-family: 'Mazius Review';
    src: url(/assets/maziusreview-regular.woff2);
}

@font-face {
    font-family: 'Mazius Review';
    font-style: italic;
    src: url(/assets/maziusreview-extraitalic.woff2);
}


@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0 , 24px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


@keyframes hyphen {
    0% {
        width: 0.5em;
    }

    100% {
        width: 1em;
    }
}

body {
    font-family: Mazius Review;
    font-size: 48px;
    line-height: 1.25;
    background-color: white;
    color: black;
   
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

h1 {
    font-size: 10vw;
    font-style: italic;
    animation: fadein 0.4s 1s both cubic-bezier(0.9,0.03,0.69,0.22);
}

h2 {
    max-width: 480px;
    font-size: 36px;
    text-align: center;
    animation: fadein 0.4s 2s both cubic-bezier(0.9,0.03,0.69,0.22);
}

header span {
    background-color: black;
    width: 1em;
    height: 0.02em;
    display: inline-block;
    vertical-align: middle;
    animation: hyphen 2s 1s infinite alternate cubic-bezier(0.86,0,0.07,1);
}

section {
    padding-right: 220px;
    padding-bottom: 200px;
}

section.dark {
    background-color: #97C4B8;
}

figure {
    max-width: 600px;
    margin: 0 auto 0 auto;
}

figcaption {
    margin: 24px 20% 0 0 ;
}

