@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: -webkit-linear-gradient(#3BB6B5, #019897);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .2s;
  letter-spacing: 2px;
  text-shadow: 0.25rem 0.5rem 1rem rgba(1, 152, 151, 0.2); }
  .heading-secondary:hover {
    transform: scaleX(1.1) scaleY(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(1, 152, 151, 0.4); }

.heading-tertiary {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #DF8589; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  align-content: space-between;
  overflow: visible;
  max-width: 114rem;
  margin: 0 auto; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-content: space-between;
  overflow: visible;
  max-width: 114rem;
  margin: 0 auto; }

/*
COLORS:

#B09E97
#019897
#3BB6B5
#DF8589


Another One
#B6FFCE
#F6FFA4
#FDD7AA
#FFA8A8

*/
.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, #f6ffa457, #ffa8a8c0), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  transform: skewY(-7deg);
  margin-top: -8rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -20rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.8rem 1.6rem; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem; }

.btn--white {
  background-color: #fff;
  color: #DF8589;
  font-weight: 700; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #DF8589;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  font-size: 1.8rem;
  transition: all 0.3;
  border-radius: 10px;
  padding: 1rem; }

.btn-text:hover {
  background-color: #DF8589;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(255, 168, 168, 0.15);
  border-radius: 10px; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(255, 168, 168, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(255, 168, 168, 0.7);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .3s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      border-radius: 1.2rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 2rem;
      border-radius: 1.2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      border-radius: 1.2rem; }
    .composition__photo:hover {
      outline: 1rem solid #3bb6b688;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(255, 168, 168, 0.7);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.7); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    color: #019897; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #099797, #13f1f1); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #B6FFCE, #7ed56f); }
        .card__side--back-2-3 {
          background-image: linear-gradient(to right bottom, #59cefc, #ce998b); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #0b9191a6, #13f1f19f), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #b6ffcea1, #7ed56fa9), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #59cefc94, #ce9a8b8a), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 4rem;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #0b9191d0, #13f1f1cc); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #b6ffcee8, #7ed56fe8); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #59cefce7, #ce9a8be5); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #f6ffa457, #ffa8a8c0), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2);
    float: left; }
  .row .col-1-of-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem / 3)  +  6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 *  6rem); }
