<!-- Boilerplate import -->
<% layout('layouts/boilerplate.ejs') %>

<!-- Campground Page -->
<body>
  <h1>All Campgrounds</h1>
  <div>
    <a href="/campgrounds/new">Add Campground</a>
  </div>
  <!-- Showing all campgrounds -->
  <ul>
    <% for (let campground of campgrounds) {%>
    <li>
      <a href="campgrounds/<%= campground._id %>"> <%= campground.title %></a>
    </li>
    <% } %>
  </ul>
</body>
