<!-- Boilerplate import -->
<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <!-- New Campground Title -->
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
      </div>
      <div class="valid-feedback">Looks good!</div>

      <!-- Location -->
      <div class="mb-3">
        <label class="from-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="locaion"
          name="campground[location]"
          required
        />
      </div>
      <div class="valid-feedback">Looks good!</div>

      <!-- Insert Campground Image URL -->
      <div class="mb-3">
        <label class="from-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        />
      </div>
      <div class="valid-feedback">Looks good!</div>

      <!-- Campground Price -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
        </div>
      </div>
      <div class="valid-feedback">Looks good!</div>
      <!-- Description -->
      <div class="mb-3">
        <label class="from-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
      </div>
      <div class="valid-feedback">Looks good!</div>
      <!-- Add new campground -->
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
      <a href="/campgrounds">All Campgrounds</a>
    </form>
  </div>
</div>
