/*
COLORS:

#B09E97
#019897
#3BB6B5
#DF8589


Another One
#B6FFCE
#F6FFA4
#FDD7AA
#FFA8A8

*/

$color-primary: #B6FFCE;
$color-secondary: #F6FFA4;
$color-tertiary: #FFA8A8;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;