@font-face {
    font-family: PT Root;
    src: url(/assets/ptroot.woff2);
}


/* Colors
#041C32
#04293A
#064663
#ECB365


*/

body {
    font-family: PT Root, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5;

    background-color: #041C32;
    color: #ECB365;
}

header {
    position: fixed;
    top: 8px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 10000000001;
    font-size: 16px;
    font-variation-settings: 'wght' 800;
    color: beige;
}

h1 span , h2 span {
    width: 150px;
    display: inline-block;
    flex: 0 0 auto;
    font-size: 18px;
}

header h1, header h2 {
    display: flex;
}

h2 span {
    width: 250px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    min-height: 100vh;
    flex: 0 0 auto;
    grid-auto-flow: dense;
    
}

section div.split {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section div.split:first-child {
    background-color: #064663;
}

section div.slides {
    width: 500px;
    height: 750px;
    position: relative;
}

.slides img {
 height: 750px;
 width: 500px;
 max-width: 100%;
 display: block;
 margin: auto;
 position: absolute;
 top: 0;
 left: 0;
 box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

section div.info {
    max-width: 480px;
    padding: 32px;
}

section h2 {
    font-style: 32px;
    color: beige;
}

section p {
    margin: 32px 0 0 0;
}

section a {
    background-color: #ffffff;
    color: #111111;
    font-size: 16px;
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    border-radius: 50px;
    display: inline-flex;
}

section a img {
    margin: 4px 0 0 8px;
    width: 10px;
    height: 16px;
    object-fit: cover;
    object-position: center right;
    transition: width 0.25s;
}

section a:hover img {
    width: 25px;
}

section.alternative div.split:first-child {
    grid-column: 2;
}

section.alternative div.split:last-child {
    grid: 1;
}

@media (max-width: 1080px) {
    section {
        display: block;
    }

    section div.split {
        padding: 64px 0 64px 0;
    }
}

@media (max-width: 700px) {
    section div.slides,
    section div.slides img {
        width: 80vw;
        height: 120vw;
    }
}