/* navbar styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.navbar {
  width: 100%;
  background: #effaf0;
  padding: 20px 10px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: rgb(26, 71, 26);
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button,
.navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #333;
  text-decoration: none;
}
