.categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.categories-items {
    display: flex;
    font-size: 2.5rem;
}

.category-item {
    margin: 1.5rem;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    text-decoration: none;
    color: black;
}


@media (max-width: 500px) {
    .categories-items {
        font-size: 2.5rem;
        padding-top: 1rem;
    }

    .category-item {
        margin: 0rem 1.5rem 1.5rem 1.5rem;
    }
}